body {
    font-family: Lato, sans-serif;
}

.header {
    padding: 29px 0;
    font-family: 'Lato', cursive;
}

.container {
    width: 1350px;
    max-width: 100%;
    margin: 0 auto;
}

.header-actions {

}



.header-list {
    display: flex;
}

.container-flex {
    display: flex;
}

.container-flex-spaced {
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.header-nav {
}

.header-actions-search {
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #f2f2f2;
    background-image: url('/img/lupa.png');
    background-repeat: no-repeat;
    background-position: 13px 20px;
    background-size: 18px;
    border-radius: 50px;
    border: none;
    min-width: 232px;
    padding: 18px 20px 18px 40px;
    font-family: 'Lato';
    vertical-align: middle;

}

.header-actions-search::before {
    content: '';
}

.header-cart {
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50px;
    background-image: url('/img/carrinho.png');
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    margin-left: 24px;
}

.header-list-item {
    list-style: none;
}


.header-list-item a {
    text-decoration: none;
    color: black;
    margin: 0 12px;
    padding: 0 12px;
}

.main-section-1 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 1350px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 80px;
}

.main-section-1-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 104px;
    line-height: 104px;

    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill: transparent;
}

.main-section-1-description {
    width: 475px;
    height: 84px;
    left: 0px;
    top: 243px;
}

.main-section-1-button {
    background-color: #f2f2f2;
    background-image: url('/img/mais.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 280px 30px;
    justify-content: space-between;
    padding: 26px 32px 26px 32px;
    border-radius: 12px;
    border: 2px solid #1f1f1f;
    appearance: none;
    -webkit-appearance: none;
    min-width: 333px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    vertical-align: middle;
    color: #1F1F1F;
}

.main-section-1-button::after {
    content: none;
}



.main-section-1-image-div {
    margin-right: 141px;
    background-image: url('./img/tenis.png');
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);opacity: 0.2;
    border-radius: 50%;
    background-position: center;
    width: 581px;
    height: 581px;
}